<div class="tag">
    <div class="title">标签</div>
    {% for tag in tags %}
        <div class="tag-item"><a href="/blog/{{ username }}/tagid/{{ tag.2 }}">{{ tag.0 }}({{ tag.1 }})</a></div>
    {% endfor %}
</div>
<div class="category">
    <div class="title">文章分类</div>
    {% for category in categories %}
        <div class="category-item"><a href="/blog/{{ username }}/categoryid/{{ category.2 }}/">{{ category.0 }}({{ category.1 }})</a></div>
    {% endfor %}
</div>
<div class="archive">
    <div class="title">日期归档</div>
    {% for archive in archives %}
        <div class="archive-item"><a href="/blog/{{ username }}/archive/{{ archive.0 }}">{{ archive.0 }}({{ archive.1 }})</a></div>
    {% endfor %}
</div>


