/*header*/
.header{
    width: 100%;
    border-bottom: 1px solid rgb(220,220,220);
}
.header .blog-title{
    color: #404040;
    font-family: Georgia;
    font-size: 25px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}
/*nav*/
.nav-list{
    width: 100%;
    border-bottom: 1px solid rgb(220,220,220);
}
.nav-list .nav a{
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-right: 32px;
}
.nav-list .nav a:hover{
    color: #2aabd2;
}
/*content*/
.content {
    width: 70%;
    float: left;
}
.content .item{
    border-bottom: 1px solid rgb(220,220,220);
    margin-top: 16px;
    margin-right: 8px;
}
.content .item .title a{
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
}
.content .item .desc p{
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 2px;
}
.content .item .info{
    margin-bottom: 4px;
}
.content .item .info a{
    text-decoration: none;
}
/*side-bar*/
.side-bar{
    width: 30%;
    float: left;
}
@media (max-width: 800px) {
    .content{
        width: 100%;
        float: none;
    }
    .side-bar{
        width: 50%;
        float: none;
        margin-top: 75px;
    }
}
.profile,
.tag,
.category,
.archive{
    margin-top: 16px;
    border: 1px solid rgb(220,220,220);
    padding: 8px;
}
.side-bar .title{
    font-size: 15px;
    font-weight: bold;
}
.side-bar div a{
    text-decoration: none;
}
